In [1]:
from pathlib import Path
from dateutil.relativedelta import relativedelta
import datetime as dt
import pandas as pd


ROOT_DIR = Path("../../")
DATA_DIR = ROOT_DIR / "data"
INPUT_DATA = DATA_DIR / "00_preraw" / "DAYTON_hourly.csv"
OUTPUT_DATA = DATA_DIR / "01_raw" / "DAYTON_power_consumption.csv"

AVG_DAYTON_YEARLY_HOUSEHOLD_KWH = 13092

In [2]:
data = (
    pd.read_csv(INPUT_DATA, parse_dates=["Datetime"])
    .rename(columns={"Datetime": "datetime", "DAYTON_MW": "power_mw"})
)

data.head()

             datetime  power_mw
0 2004-12-31 01:00:00    1596.0
1 2004-12-31 02:00:00    1517.0
2 2004-12-31 03:00:00    1486.0
3 2004-12-31 04:00:00    1469.0
4 2004-12-31 05:00:00    1472.0

In [3]:
min_ts, max_ts = min(data.datetime), max(data.datetime)
min_ts, max_ts

(Timestamp('2004-10-01 01:00:00'), Timestamp('2018-08-03 00:00:00'))

In [4]:
min_date_for_avg = max_ts.date() - relativedelta(years=1) + relativedelta(days=1)
min_dt_for_avg = dt.datetime.combine(min_date_for_avg, dt.time())
min_dt_for_avg

datetime.datetime(2017, 8, 4, 0, 0)

In [5]:
last_year_data_mwh = (
    data[data.datetime > min_dt_for_avg]
    .power_mw.sum()
)
last_year_data_kwh = last_year_data_mwh * 1000

last_year_data_kwh

17704813000.0

In [6]:
factor = AVG_DAYTON_YEARLY_HOUSEHOLD_KWH / last_year_data_kwh

In [7]:
new_data = (
    data.assign(power_kw=lambda d: d.power_mw * factor)
    .drop(columns=["power_mw"])
)

new_data.head()

             datetime  power_kw
0 2004-12-31 01:00:00  0.001180
1 2004-12-31 02:00:00  0.001122
2 2004-12-31 03:00:00  0.001099
3 2004-12-31 04:00:00  0.001086
4 2004-12-31 05:00:00  0.001088

In [8]:
new_data.to_csv(OUTPUT_DATA)